<div class="wrapper" (mouseover)="hover=true" (mouseleave)="hover=false">
  <img *ngIf="isImage && localUrl" [src]="localUrl | safe: 'url'" [class.loading]="percent < 100">
  <img *ngIf="!isImage" src="assets/file.svg" style="object-fit: contain;" [class.loading]="percent < 100">

  <div class="overlay" [hidden]="!hover">
    <div class="controls" *ngIf="(snapshot | async) as snap">
      <a mat-icon-button *ngIf="downloadURL | async as url" [href]="url" target="_blank" rel="noopener">
        <mat-icon style="color: white">zoom_in</mat-icon>
      </a>
      <button mat-icon-button>
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </div>
  </div>
</div>
<p class="file-name">{{ file.name }}</p>
<app-progress-bar *ngIf="percent" [value]="percent"></app-progress-bar>
