*:not(mat-icon) {
  font-family: Roboto, sans-serif;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: white;
  max-height: 100vh;
  height: 100%;

  .info-block {
    text-align: center;
    background: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #f7f8ca;
    width: 100%;
    flex: 1;

    &.datetime {
      background: #792d2d;
      flex-direction: column;
      padding-top: 25px;

      .time {
        font-size: 10vh;
        font-weight: bold;
        letter-spacing: 6px;
      }

      .dates {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;

        .date {
          margin: 10px;
          font-size: 3vh;
        }
      }
    }

    &.weather {
      background: #813737;
      .weather-day {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 15px 0;

        h2 {
          flex-basis: 100%;
          margin-bottom: 0;
          margin: 10px 0;
          font-size: 3.5vh;
        }

        .morning,
        .evening,
        .forecast,
        .now {
          padding: 0 25px;
          font-size: 3vh;
          display: flex;
          flex-direction: column;
          align-items: center;

          h4 {
            margin: 1vh;
            font-weight: 400;
          }

          .value-wrapper {
            display: flex;
            align-items: center;
            .value {
              font-size: 5vh;
              display: flex;
              .celsium {
                font-size: 3vh;
              }
            }
          }

          .icon {
            height: 10vh;
            width: auto;
          }
        }
      }
    }

    &.currency {
      background: #8a3f3f;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 3.5vh;
        margin: 0;
      }

      .values {
        margin-top: 10px;
        display: flex;
        .value {
          margin: 0 25px;
          padding: 15px;
          display: flex;
          align-items: center;
          font-size: 3.5vh;

          .currency {
            font-weight: bold;
            margin-right: 10px;
          }

          mat-icon {
            height: 6vh;
            width: 6vh;
            font-size: 6vh;
            line-height: 7vh;

            &.up {
              color: rgb(28, 206, 58);
            }

            &.down {
              color: rgb(252, 47, 11);
            }
          }
        }
      }
    }
  }
}

h2 {
  text-transform: uppercase;
  font-weight: 500;
}
