<div class="navigation">
  <a mat-raised-button routerLink="/" color="primary">
    Посмотреть
  </a>
  <button mat-stroked-button (click)="signOut()" class="signout">
    Выход
  </button>
</div>

<div class="uploaders">
  <div class="slides">
    <app-uploader
      storageFolder="testSlides"
      fileTypes="['image', 'video']"
      multiple="true"
      (error)="onUploadError($event)"
      [maxSizeKb]="120000"
      [title]="'Загрузить слайд'"
      (done)="onUploadSlideDone($event)"
    >
    </app-uploader>
    <app-media-input (addMedia)="onMediaAdd($event)"></app-media-input>
  </div>

  <app-uploader
    storageFolder="foregrounds"
    fileTypes="['image']"
    multiple="true"
    (done)="onUploadForegroundDone($event)"
    (error)="onUploadError($event)"
    [maxSizeKb]="4000"
    [title]="'Загрузить анимацию'"
  ></app-uploader>
</div>

<div class="settings">
  <div class="column">
    <app-slides-interval></app-slides-interval>
    <app-slides-list></app-slides-list>
  </div>
  <div class="column">
    <app-foreground-list></app-foreground-list>
  </div>
</div>
