:host {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  button,
  a {
    margin: 15px;
  }
}

.settings {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
