<div class="navigation">
  <a mat-raised-button routerLink="/" color="primary">
    Посмотреть
  </a>
  <button mat-stroked-button (click)="signOut()" class="signout">
    Выход
  </button>
</div>

<div class="uploaders">
  <app-uploader [maxSizeKb]="5000" [title]="'Загрузить слайд'" storageFolder="testSlides" fileType="image"
    (done)="onUploadSlideDone($event)" multiple="true"></app-uploader>
  <app-uploader [maxSizeKb]="5000" [title]="'Загрузить анимацию'" storageFolder="testForegrounds" fileType="image"
    (done)="onUploadForegroundDone($event)" multiple="true"></app-uploader>
</div>


<div class="settings">
  <div class="column">
    <app-slides-interval></app-slides-interval>
    <app-slides-list></app-slides-list>
  </div>
  <div class="column">
    <app-foreground-list></app-foreground-list>
  </div>
</div>
