<div class="slides" *ngIf="slides?.length > 0" (wheel)="onScroll($event)">
  <div *ngFor="let slide of slidesSorted; let i = index; trackBy: trackByFn" [ngClass]="{
      hidden: currentSlide !== i,
      fullscreen: slide.fullscreen,
      hidetime: slide.hidetime
    }" class="slide">
    <ng-container [ngSwitch]="slide.type">
      <ng-template [ngSwitchCase]="'image'">
        <img [src]="(currentSlide === i || currentSlide + 1 === i) ? slide.downloadURL : ''" [alt]="slide.name" />
      </ng-template>
      <ng-template [ngSwitchCase]="'video'">
        <video [src]="(currentSlide === i || currentSlide + 1 === i) ? slide.downloadURL : ''" loop autoplay
          [muted]="true"></video>
      </ng-template>
    </ng-container>
  </div>

  <div class="datetime" *ngIf="dateRU && dateENG && time">
    <div class="time">
      {{ time }}
    </div>
    <div class="dates">
      <div class="date">
        {{ dateRU }}
      </div>
      <div class="date">
        {{ dateENG }}
      </div>
    </div>
  </div>



  <div *ngFor="let foreground of foregroundsSorted; let i = index; trackBy: trackByFn" class="foreground"
    [style.zoom]="foreground.scale" [ngStyle]="{'left.px': foreground.y || 0, 'top.px': foreground.x || 0}"
    [style.transform]="'translate(' + foreground.x + 'px, ' + foreground.y + ', 0px)'" cdkDrag
    (cdkDragStarted)="dragStarted(foreground.id)" (cdkDragReleased)="dragEnded($event)"
    (cdkDragMoved)="dragMoved($event, foreground.id)">
    <img [src]="foreground.downloadURL" />
  </div>


</div>
