<div class="slides" *ngIf="slides?.length > 0">
  <div *ngFor="let slide of sortSlides('sort'); let i = index; trackBy: trackByFn" [ngClass]="{
      hidden: currentSlide !== i,
      fullscreen: slide.fullscreen,
      hidetime: slide.hidetime
    }" class="slide">
    <ng-container [ngSwitch]="slide.type">
      <ng-template [ngSwitchCase]="'image'">
        <img [src]="slide.downloadURL" [alt]="slide.name" />
      </ng-template>
      <ng-template [ngSwitchCase]="'video'">
        <video [src]="slide.downloadURL" loop autoplay [muted]="true"></video>
      </ng-template>
    </ng-container>
  </div>

  <div class="datetime" *ngIf="dateRU && dateENG && time">
    <div class="time">
      {{ time }}
    </div>
    <div class="dates">
      <div class="date">
        {{ dateRU }}
      </div>
      <div class="date">
        {{ dateENG }}
      </div>
    </div>
  </div>
</div>
