:host {
  position: relative;
  font-family: Roboto, sans-serif;
}

.slides {
  width: 56.25%;
  height: 100vh;
  overflow: hidden;

  .slide {
    position: absolute;
    opacity: 1;
    transition: opacity 500ms linear;
    width: 56.25vw;
    max-height: 100vh;
    overflow: hidden;

    img,
    video {
      height: 100vh;
      width: 100%;
      object-fit: cover;
    }

    &.fullscreen:not(.hidden) {
      width: 100vw;
    }

    &.hidden {
      transition: opacity 1000ms linear;
      opacity: 0;
    }
  }

  .flights-info {
    z-index: 999;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: white;
    width: 56.25vw;
    display: flex;
    flex-direction: column;

    h2 {
      color: #f7f8ca;
      font-size: 3.5vh;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 15px 0;
      background: rgba(129, 55, 55, 0.7);
      margin: 0;
    }

    .info-wrapper {
      color: #f7f8ca;
      background: rgba(121, 45, 45, 0.9);
      display: flex;
      padding: 15px 15px 0;

      .info {
        flex: 1;

        h3 {
          font-weight: 400;
          margin: 0;
        }
      }
    }

    .flights {
      color: #f7f8ca;
      background: rgba(121, 45, 45, 0.9);
      padding: 15px;
      display: flex;
      flex-direction: column;
      font-weight: 300;

      .flight {
        width: 100%;
        display: flex;
        font-size: 2.3vh;
        margin-bottom: 10px;

        .info {
          flex: 1;
        }
      }
    }
  }
}

.foreground {
  position: absolute;
  z-index: 999;

  &.admin:active {
    background: rgba(8, 177, 107, 0.425);
    border: 5px solid rgba(0, 0, 0, 0.178);
    margin: -5px;
  }

  .foreground-image {
    width: 100%;
    height: auto;
  }
}
